.ipynb_checkpoints

__pycache__/
**/__pycache__/
**/.idea/

# Ignore everything in the data directory except smoke data and related csv files
data/*

# We also need the weights file for PhysioNet 2021 metric


# Ignore the tar.gz files if loaded in the notebooks directory
notebooks/*.tar.gz
notebooks/*.csv

# Ignore all other configuration yaml files except spesific ones for smoke testing
configs/*
!configs/experiment_001.yaml

# Ignore the experiments directory
experiments/*
